#text{
    font-size:large ;
    background-color:rgb(255, 255, 255);
}

.text {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  flex-direction:column;
  flex-direction:row; 
  align-items: center;
  grap: 20px;                   
}
.cercle {
  flex: 23;                       
  padding: 10px;
  background-color: #f0f0f0;
}

